<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
</head>
<body>
  <div layout:fragment="content">
    <h3 class="page-header">プロジェクト一覧</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>プロジェクト名</th>
          <th>
            <div class="pull-right">
              <a href="#" th:href="@{/project/register}" class="btn btn-default btn-sm">新規登録</a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="projectSummary : ${projectSummaries.list}">
          <td><span th:text="${projectSummary.id}">1</span></td>
          <td><a href="#"><span th:text="${projectSummary.name}">プロジェクトX</span></a></td>
          <td>
            <div class="pull-right">
              <a href="#" th:href="@{/project/update(id=${projectSummary.id})}" class="btn btn-default btn-sm">更新</a>
              <a href="#" th:href="@{/project/delete(id=${projectSummary.id})}" class="btn btn-default btn-sm">削除</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation" class="pull-right">
      <ul class="pagination">
        <li>
          <a href="./list.html" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="./list.html">1</a></li>
        <li><a href="./list.html">2</a></li>
        <li><a href="./list.html">3</a></li>
        <li><a href="./list.html">4</a></li>
        <li><a href="./list.html">5</a></li>
        <li>
          <a href="./list.html" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>
