<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddd.example.infrastructure.datasource.project.ProjectMapper">

  <resultMap id="projectSummary" type="com.ddd.example.domain.model.project.ProjectSummary">
    <id property="id.value" column="pj_id"/>
    <result property="name.value" column="pj_name"/>
  </resultMap>

  <resultMap id="project" type="com.ddd.example.domain.model.project.Project">
    <id property="id.value" column="id"/>
    <result property="name.value" column="name"/>
  </resultMap>

  <select id="list" resultMap="projectSummary">
    SELECT
        pj.id   pj_id
      , pj.name pj_name
    FROM
      projects pj
    ORDER BY
      pj.name
  </select>

  <select id="findOne" resultMap="project">
    SELECT
        projects.id
      , projects.name
    FROM
      projects
    WHERE
      projects.id = #{id.value}
  </select>

  <insert id="register">
    INSERT INTO projects (
      name
    ) VALUES (
      #{project.name.value}
    )
  </insert>

  <update id="update">
    UPDATE
      projects
    SET
      name = #{project.name.value}
    WHERE
      id = #{project.id.value}
  </update>

  <delete id="delete">
    DELETE FROM
      projects
    WHERE
      id = #{id.value}
  </delete>

</mapper>
